<div class="row py-5 text-center bg-primary text-light mt-1">
   <div class="col">
      <h3 class="fw-400">Get Huge Savings on Medicines</h3>
      <div class="d-flex justify-content-center bd-highlight mb-1">
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i> 100% Genuine Pharmacies</div>
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Trusted Pharmacies
        </div>
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Delivery to your doorstep</div>
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Store Pick up</div>
      </div>
   </div>
</div>

<div class="row w-75 text-center m-auto rounded-5 searchBox">
    <div class="input-group flex-nowrap p-0" style="height: 60px;">
        <span class="input-group-text bg-body" id="addon-wrapping">Pune &nbsp;411041&nbsp;&nbsp;<i class="bi bi-chevron-down text-primary"></i></span>
        <input type="text" class="form-control" placeholder="Search Medicine" aria-label="Username"
            aria-describedby="addon-wrapping">
            <span class="input-group-text bg-body text-primary" id="addon-wrapping"><i class="bi bi-search me-2"></i> Search</span>

    </div>
</div>

<div class="container mt-2 mb-2">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
    </div>
</div>

<app-top-deals></app-top-deals>