<div class="row py-5 text-center bg-primary text-light mt-1">
   <div class="col">
      <h3 class="fw-400">Get Huge Savings on Medicines</h3>
      <div class="d-flex justify-content-center bd-highlight mb-1">
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i> 100% Genuine Pharmacies</div>
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Trusted Pharmacies
        </div>
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Delivery to your doorstep</div>
        <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Store Pick up</div>
      </div>
   </div>
</div>

<div class="row w-75 text-center m-auto rounded-5 searchBox">
    <div class="input-group flex-nowrap p-0" style="height: 60px;">
        <span class="input-group-text bg-body" id="addon-wrapping" *ngIf="isPinCodeAvailable">{{pincodeDetails.pincodeCity}} &nbsp;{{pincodeDetails.pincode}}&nbsp;&nbsp;<span data-bs-toggle="modal" data-bs-target="#pincodeModal"><i class="bi bi-chevron-down text-primary cursor"></i></span></span>
        <span class="input-group-text bg-body" *ngIf="!isPinCodeAvailable">Select Location&nbsp;&nbsp;<span data-bs-toggle="modal" data-bs-target="#pincodeModal"><i class="bi bi-chevron-down text-primary cursor"></i></span></span>
        <input type="text" class="form-control" placeholder="Search Medicine" aria-label="Username"
            aria-describedby="addon-wrapping">
            <span class="input-group-text bg-body text-primary" id="addon-wrapping"><i class="bi bi-search me-2"></i> Search</span>

    </div>
</div>

<div class="container mt-2 mb-2">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
    </div>
</div>

<app-top-deals></app-top-deals>


<!--Pincode Modal -->

<div class="modal fade" id="pincodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Set Your Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <!-- <label for="id1" class="modal-title">Set Your Location</label> -->
                <div class="input-group">
                    <input type="text" class="form-control" name="pincode" id="id1" minlength="6" maxlength="6" [(ngModel)]="pincode" (ngModelChange)="getPackageDetailsByPincode()" #pincodeDetls="ngModel">
                    <span class="input-group-text bg-body" *ngIf="isPinCodeAvailable"><i class="bi bi-check-circle-fill text-success"></i></span>
                    <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="!isPinCodeAvailable">
                        We do not Provide Service to this Pincode
                      </div>
                    <!-- <span class="input-group-text">0.00</span> -->
                  </div>
            </div>
            <div class="d-grid gap-2 mx-4 my-2">
                <button class="btn btn-primary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>